<!DOCTYPE html>

<html lang="en">



    <head>
        
        <meta charset="UTF-8">
        <script src="./node_modules/web3/dist/web3.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        


    </head>


    <body>

        <div id="container">


            <input type="button" class="btn" value="Create Contract"/>
            Data: <input type="text" name="data" class="data">
            Tokens: <input type="number" name="tokens" class="tokens">
            Sender: <input type="text" name="creator" class="creator">



        </div>



    </body>
   

    <script src="./web3Logic.js"></script>
    


</html>
