<!DOCTYPE html>

<html lang="en">



    <head>
        
        <meta charset="UTF-8">
        <script src="./node_modules/web3/dist/web3.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        


    </head>


    <body>

        <div id="container">


            <button id="btn">Transfer</button>


            <p id="selected">Selected Person: </p>
            <p id="address">Selected address: </p>

            <p id="tokens">Tokens: </p>

            <input type="text" size="32" id="text_input">
            <input type="number" id="number_input">




        </div>



    </body>
   

    <script src="./web3Logic.js"></script>
    


</html>
