body, html {

    /* Full height */


    /* Center and scale the image nicely */
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 height: 100vh;
 font-size:12px;
background-color:#0F0F0F;
}

p {
font: 20px arial, sans-serif;
color:#ffffff;
font-weight: bold;
}

input{
  border-radius: 25px;
    border: 2px solid #399bb6;
    padding: 20px; 
    width: 200px;
    height: 15px;  
}

.vertical-center{

    padding-top:3%;

    background-color:#0F0F0F;
    height:100%;
}


#RegisterContainer{

    padding-bottom:8%;


}




@media screen and (min-height: 1800px) {

    #alertBox{
        position:absolute;
        background-color: #ff6666;
        visibility: hidden;
        width:100%;
        top:90%;
        height:2.2%;
    }

    #alertText { 


        text-align:center;

        font-size:29px;
    }


}


@media screen and (max-height: 1799px) {

    #alertBox{
        position:absolute;
        background-color: #ff6666;
        visibility: hidden;
        width:100%;
        top:90%;
        height:2.2%;
    }

    #alertText { 


        text-align:center;

        font-size:20px;
    }


}

@media screen and (max-height: 1366px) {

    #alertBox{
        position:absolute;
        background-color: #ff6666;
        visibility: hidden;
        width:100%;
        top:90%;
        height:2.2%;
    }

    #alertText { 


        text-align:center;

        font-size:20px;
    }


}


@media screen and (max-height: 812px) {

    #alertBox{
        position:absolute;
        background-color: #ff6666;
        visibility: hidden;
        width:100%;
        top:90%;
        height:3.5%;
    }

    #alertText { 


        text-align:center;

        font-size:12px;
    }


}

@media screen and (max-height: 700px) {
    #alertBox{
        position:absolute;
        background-color: #ff6666;
        visibility: hidden;
        width:100%;
        top:90%;
        height:4.5%;
    }

    #alertText { 


        text-align:center;

        font-size:12px;
    }
}
@media screen and (max-height: 400px) {
    #alertBox{
        position:absolute;
        background-color: #ff6666;
        visibility: hidden;
        width:100%;
        top:90%;
        height:7%;
    }

    #alertText { 


        text-align:center;

        font-size:12px;
    }
}


@media screen and (max-width:900px) {

    #alertBox{
        position:absolute;
        background-color: #ff6666;
        visibility: hidden;
        width:100%;
        top:90%;
        height:2%;
    }

    #alertText { 


        text-align:center;

        font-size:10px;
    }


}


@media screen and (max-width: 400px) {
    #alertBox{
        position:absolute;
        background-color: #ff6666;
        visibility: hidden;
        width:100%;
        top:90%;
        height:2%;
    }

    #alertText { 


        text-align:center;

        font-size:9px;
    }
    #Login {
        font-size:9px;
    }
    #Register1 {
        font-size:9px;
    }
}

#LoginShow {

    display:block;
    margin:5%;
}

#RegisterShow {

    display:none;
    margin:5%;
}


