.container{
    display: grid
}

.GetContract{

    position:absolute;
    top:10%;
    left:0.5%;

}

p{

    display:inline;
}

#para{

    position:absolute;
    top:12%;
    left:10%;
}

.AcceptContract{

    position:absolute;
    top:20%;

}

