.container{
    display: grid
}

.person {
    background: #07add6;
    float: left;
    width: 220px;
    height: 200px;
    margin: 20px;
}


.person h1 {
    text-align:center;
}

#btn {

    position: absolute;
    top: 400px;

}

#text_input{

    position: absolute;
    top: 400px;
    left: 100px;
}

#selected{

    position: absolute;
    top:300px;
    left:10px;
}

#address{

    position: absolute;
    top:340px;
    left:10px;

}
#number_input{

    position: absolute;
    top: 450px;
    left: 100px;

}

#tokens{

    position: absolute;
    top: 440px;
    left:10px;


}
